* {
  margin: 0;
  padding: 0;
}

/* body {
  background-color: #eae0da;
} */

.banner {
  text-align: center;
}
.banner img {
  margin-top: 3rem;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}
.header a:hover {
  color: aquamarine;
}

.header a:last-child {
  position: absolute;
  margin-left: auto;
  left: 93%;
}
.header a:last-child:hover {
  color: red;
}

.pemesanan .title_pemesanan h1 {
  text-align: center;
  margin-top: 4rem;
}

.table_pemesanan table {
  margin: 0 auto;
  padding: 0 50px;
}

.title-pelayanan {
  text-align: center;
  margin-top: 6rem;
}

.garis-bawah {
  margin: 0 auto 20px;
  width: 100px;
  height: 5px;
  background-color: #333;
}

.deskripsi-pelayanan {
  margin: auto;
  text-align: justify;
  width: 50%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

.container {
  margin-bottom: 6rem;
}

.pekerja {
  margin-left: 70px;
  justify-content: center;
  text-align: center;
}

.nama-pekerja {
  width: 200px;
  height: 40px;
  margin: 20px auto 10px;
  border-radius: 12px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

.btn-pesan {
  text-align: center;
  margin-left: auto;
}

button {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 12px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  color: #fff;
}

/* CSS tambah.php */
select {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 6rem;
  bottom: 0;
}

.footer p {
  margin: 0;
}

.footer .contact {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact p {
  margin: 0;
  text-align: center;
}

.footer .contact img {
  margin-right: 10px;
}

/* Pelayanan */
#benefit {
  margin-bottom: 120px;
}

.benefit-topHeader {
  margin-bottom: 41px;
}

.benefit-topHeader h5 {
  font-size: 16px;
  color: var(--color-blue);
}

.benefit-topHeader h2 {
  font-size: 28px;
}

.benefit-card {
  background-color: #e1d7c6;
  width: 100%;
  height: 347px;
  padding-top: 35px;
  border-radius: 12px 12px 24px 24px;
}

/* Hover Benefit Card */
.benefit-card:hover {
  outline: 2px solid #5a4fcf;
  outline-offset: 5px;
  transition: 0.5s ease-in-out;
}

.benefit-button:hover {
  background-color: #ece8dd;
  transition: 1.2s ease-in-out;
}

.benefit-card h3 {
  font-size: 18px;
  margin-top: 24px;
}

.benefit-card h5 {
  font-size: 16px;
  margin-top: 12px;
  padding: 0 7px;
}

.circle-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(253, 200, 134, 0.15);
}

.circle-icon img {
  width: 58px;
  height: 58px;
}

.benefit-button {
  width: 226px;
  height: 56px;
  border-radius: 12px 12px 24px 24px;
  background-color: #fff;
  font-size: 16px;
  margin-top: 34px;
  color: #333;
}

.benefit-button img {
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

#pelayanan .container {
  margin-top: 150px;
}

/* Akhir Pelayanan */
