* {
  margin: 0;
  padding: 0;
}

.banner {
  text-align: center;
}
.banner img {
  margin-top: 3rem;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}
.header a:hover {
  color: aquamarine;
}

.header a:last-child {
  position: absolute;
  margin-left: auto;
  left: 93%;
}
.header a:last-child:hover {
  color: red;
}

.pemesanan .title_pemesanan h1 {
  text-align: center;
  margin-top: 4rem;
}

.table_pemesanan table {
  margin: 0 auto;
  padding: 0 50px;
}

.title-pelayanan {
  text-align: center;
  margin-top: 6rem;
}

.garis-bawah {
  margin: 0 auto 20px;
  width: 100px;
  height: 5px;
  background-color: #333;
}

.deskripsi-pelayanan {
  margin: auto;
  text-align: justify;
  width: 50%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

.container {
  margin-bottom: 6rem;
}

.pekerja {
  margin-left: 70px;
  justify-content: center;
  text-align: center;
}

.nama-pekerja {
  width: 200px;
  height: 40px;
  margin: 20px auto 10px;
  border-radius: 12px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

.btn-pesan {
  text-align: center;
  margin-left: auto;
}

button {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 12px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover {
  color: #fff;
}

.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 6rem;
  bottom: 0;
}

.footer p {
  margin: 0;
}

.footer .contact {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact p {
  margin: 0;
  text-align: center;
}

.footer .contact img {
  margin-right: 10px;
}
